---
layout: base
---
  <body background="{{ site.baseurl }}/images/bg/bg7.png">
    {% include head.html %}
    {% include header.html %}
      <main class="page-content" aria-label="Content">
        <div class="wrapper">
          <ul>
            {% for post in site.posts %}
              <li>
                <span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</span><br>
                <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </main>
    {% include footer.html %}
  </body>
